<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Airsoft4Ohio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME <i class="bi bi-house-door-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">ABOUT <i class="bi bi-file-earmark-person-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">EVENTS <i class="bi bi-calendar2-event-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/maps">MAPS <i class="bi bi-map-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fields">FIELDS <i class="bi bi-grid-3x3-gap-fill"></i></a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            FORUMS <i class="bi bi-info-circle-fill"></i>
          </a>
          
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/forums">View <i class="bi bi-eye-fill"></i></a></li>
            <li><a class="dropdown-item" href="/create/post">Create Post <i class="bi bi-postcard"></i></a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/login">LOGIN <i class="bi bi-door-open-fill"></i></a>
        </li>

        
      </ul>
    </div>
  </div>
</nav>


