{{>nav}}
<h1>About</h1>
<div class="aboutRapper">
    <p>This is a website that allows the good folks of Ohio to gather and talk all things Airsoft.</p>
    <p>Some things this site aims to do</p>
    <ul>
        <li>Provide a forum for users to talk all things Airsoft</li>
        <li>Plan &#38; Schedule Events</li>
        <li>RSVP for events</li>
        <li>View information about Airsoft fields in Ohio</li>
        <li>Allow users to list Airsoft gear for sell</li>
    </ul>
</div>

{{>footer}}

<style>
    .aboutRapper {
        margin-left: 5em;
        background-color: hsla(0, 0%, 0%, 0.548);
        width: max-content;
        color: white;
        padding: 1em 2em 1em 2em;
        border-radius: 1em;
        font-size: large;
        box-shadow: 0px 0px 8px hsla(0, 0%, 0%, 0.651);
    }
</style>
