{{>nav}}
<div class="main-container">
    <h1>About</h1>
    <div>
        <p>This is a website that allows the good folks of Ohio to gather and talk all things Airsoft.</p>
        <p>Some things this site aims to do:</p>
        <br>
        <ul>
            <div class="about-items">
                <li>Provide a forum for Airsofters in Ohio</li>
                <li>Plan &#38; Schedule Events</li>
                <li>RSVP for events</li>
                <li>View information about Airsoft fields in Ohio</li>
                <li>Allow users to list Airsoft gear for sell. Payment processing and transactions will be handled by the users, this site will not process any form of payment.</li>
            </div>
        </ul>
    </div>
</div>
{{>footer}}
<style>
.about-items>li {
    font-weight: var(--fw-lg);
    font-size: var(--fs-lg);
}
</style>