{{>nav}}
<div class="main-container">
<div class="forum-post-wrapper">
    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>

    <div class="forum-post">
                <img class="forum-img" src="/imgs/face.png" alt="">
                <div class="forum-body">
                    <div class="forum-text">
                        <h4>Some Post About Airsoft</h4>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem odit nobis illum. Vel, modi voluptatum dolores aut pariatur rerum! Voluptates nemo architecto praesentium veritatis quisquam atque sed ab, rerum excepturi?
                        </p>
                    </div>
                    <div class="forum-footer">
                        <ul class="forum-footer-list">
                            <li>like</li>
                            <li>follow</li>
                            <li>post</li>
                            <li>view</li>
                        </ul>
                    </div>
                </div>
    </div>
</div>
</div>

{{>footer}}

