{{>nav}}
<h1 id="forumPageTitle">Forums</h1>
<div class="mainRapper">
    <div class="sectionRapper">
        <h2 class="forumSectionTitle">!Welcome to Airsoft4Ohio!</h2>
        <div class="forumSectionData">
            <div class="forumSectionImg"><img src="/imgs/smileyface.png" alt="face"></div>
            <div class="forumSectionBody"></div>
        </div>
    </div>
    <div class="sectionRapper">
        <h2 class="forumSectionTitle">News</h2>
        <div class="forumSectionData">
            <div class="forumSectionImg"><img src="/imgs/face.png" alt="face"></div>
            <div class="forumSectionBody"></div>
        </div>
    </div>
    <div class="sectionRapper">
        <h2 class="forumSectionTitle">Website Changes</h2>
        <div class="forumSectionData">
            <div class="forumSectionImg"><img src="/imgs/soldier.jpg" alt="face"></div>
            <div class="forumSectionBody"></div>
        </div>
    </div>
    <div class="sectionRapper">
        <h2 class="forumSectionTitle">Lets Talk!</h2>
        <div class="forumSectionData">
            <div class="forumSectionImg"><img src="/imgs/random.png" alt="face"></div>
            <div class="forumSectionBody"></div>
        </div>
    </div>
</div>
<style>
#forumPageTitle {
    position: fixed;
    top: 15px;
    left: 15px;
    color: white;
}
.mainRapper {
    width: 50%;
    margin: 5em auto 0 auto;
    height: fit-content;
    min-height: 700px;
    min-width: 850px;
}
.sectionRapper {
    height: 10em;
    margin: .2em 1em;
    background-color: rgb(138, 114, 81);
    border-radius: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.521);
}
.forumSectionTitle {
    margin-left: 1em;
}
.forumSectionData {
    display: flex;
    height: calc(100% - 1.8em);
    width: 100%;
}
.forumSectionImg {
    margin-left: 1em;        
    width: 125px;
    height: 100%;
    max-width: 150px;
}
img {
    box-shadow: 0px 0px 5px rgba(0, 255, 42, 0.521);
    border-radius: 50%;
    width: 125px;
    height: 125px;
    
    
}
.forumSectionBody {
    width: 100%;
}
</style>
{{>footer}}


