
{{>nav}}
<div class="main-container">
    <div class="wip">
        <h1>WORK IN PROGRESS</h1>
        <p>Want to assist? This project is available on <a id="github-link" target="_blank" href="https://github.com/TimeCrunch101/airsoft4ohio.com">GitHub</a><i class="bi bi-github fs-4"></i></p>
    </div>
{{>toast}}
</div>
{{>footer}}

<style>
.wip {
    text-align: center;   
}
</style>
