:root {
    --forum-d-green: hsl(117, 14%, 31%); 
    --forum-l-green: hsl(116, 7%, 45%);
  }
  
  html, body {
      background-image: url(./soldier.jpg);
      background-size: cover;
      background-repeat: repeat-y;
      background-attachment: fixed;
  }
  
  .main-container {
      background-color: hsla(0, 0%, 70%, 0.623);
      border-radius: .5em;
      width: 65%;
      margin: 2em auto;
      box-shadow: 0px 0px 15px whitesmoke;
      min-height: 100vh;
      max-height: fit-content;
  }