* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    text-decoration: none;
}
html, body {
    background-image: url(/imgs/soldier.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    margin-top: 2em;
}